.pet-card {
    width: 12rem; 
    background-color: white; 
    border-radius: 4px; 
    margin-top: 10px; 
    box-shadow: 0px -1px 1px rgba(0,0,0,0.08), 1px 0px 1px rgba(0,0,0,0.08), -1px 0px 1px rgba(0,0,0,0.08), 0px 1px 1px rgba(0,0,0,0.08);
    margin-right: 5px; 
    margin-left: 5px; 
}

.pet-card-dot {
    margin-top: -2px;
    font-size: 5px;
}

.pet-image {
    width: 12rem; 
    border-radius: 4px;  
}

.pet-name {
    color: #2977C9;
    font-weight: bold; 
}

.pet-details {
    font-size: 12px; 
}

.pet-card-button {
    margin-bottom: 5px; 
    display: block;
    background-color:#2977C9; 
    border-radius: 4px; 
    border: none; 
    color: white; 
    cursor: pointer;
    width: 170px; 
    font-size: 12px; 
    text-decoration: none; 
    display: inline-block; 
}

.saved {
    color: #5fa2e9; 
}
.heart-icon {
    font-size: 24px;
    padding-right: 2.8px; 
    margin-top: 6.5px; 
}

.unsaved {
    color:  gray; 
}

.top-card {
    display: inline-flex; 
}

.hover-button:hover {
    cursor: pointer;
}

.general-icon {
    float: right;
    margin-right: 5px; 
    margin-left: -50px;
}

.background {
    color: rgba(255, 255, 255, 0.699);
    border-radius: 50%;
    font-size: 30px;
    margin-top: 3px;

}